Source: stsbl-iserv-dns-ula
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.4.1

Package: stsbl-iserv-dns-ula
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-update,
  libiserv-dialog-perl,
  libpath-tiny-perl,
  stsbl-iserv-config-ipv6 (>= 19.11.13),
Breaks:
  stsbl-iserv-server-radvd (<< 19.11.13),
Description: Lokale IPv6-AnyCast-DNS-Adresse für IServ
 Stellt die Unique-Local-Adresse fd00::53 zur Nutzung als Adresse für den DNS-
 Server zur Verfügung.
Tag: suite::iserv
